/target
/classes
/checkouts
pom.xml
pom.xml.asc
*-init.clj
*.jar
*.class
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.idea/
/lib/

classes/
resources/public/js/

/target/
/checkouts
/.lein-*
/.nrepl-port
/resources/public/js
/out
/.repl
